# Entorno compartido entre API y app
NODE_ENV=development

# Hostnames para proxy inverso externo


MAP_UUID=1000

## APP
API_VIRTUAL_HOST=api.rifas.loc
APP_VIRTUAL_HOST=app.rifas.loc

## API 
API_NAME=rifas-api
APP_NAME=rifas-app

## DOCS
DOCS_VIRTUAL_HOST=docs.rifas.loc