# Entorno compartido entre API y app
NODE_ENV=development

# Hostnames para proxy inverso externo
API_NAME=rifas-api
APP_NAME=rifas-app
API_VIRTUAL_HOST=api.rifas.loc
APP_VIRTUAL_HOST=app.rifas.loc
MAP_UUID=1000